[data-v-549a6358] .keyboard > button {
  width: 3rem;
}
[data-v-549a6358] .button-font > .q-btn__content {
  font-size: 15px;
}
[data-v-549a6358] .q-field--standard.q-field--readonly .q-field__control:before {
  border-bottom-style: none;
}